.custom-navbar {
    background-color: #000000;
    
}

.custom-jumbotron {
    background-image: url("../img/bgpenghuni.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 100px 0;
}

.custom-hr {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
}